<div class="back-container">
  <button class="back-button" (click)="goToLogin()">
    <span class="material-symbols-outlined"> arrow_back </span>
  </button>
</div>
<div
  class="register-body"
  (keydown.enter)="registerUser(nameInput.value, emailInput.value, passwordInput.value, confirmPasswordInput.value)"
>
  <div class="logo-square-container">
    <div class="logo-square">
      <div class="logo-container">
        <img src="/img/mono.svg" alt="Logo" class="logo" />

        <div class="message-container">
          <p>Registre-se para começar a usar o Mono!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="register-container">
    <div class="icon">
      <span class="material-symbols-outlined"> account_box </span>
    </div>

    <p class="welcome-message">Cadastre-se</p>

    <p class="register-instruction">
      Crie sua conta para começar a usar o Mono!
    </p>
    <form
      (ngSubmit)="registerUser(nameInput.value, emailInput.value, passwordInput.value, confirmPasswordInput.value)"
    >
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" id="name" required #nameInput />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" required #emailInput />
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            required
            #passwordInput
          />
          <button type="button" (click)="togglePasswordVisibility()">
            <span class="material-symbols-outlined">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </span>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <div class="password-container">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPassword"
            required
            #confirmPasswordInput
          />
          <button type="button" (click)="togglePasswordConfirmVisibility()">
            <span class="material-symbols-outlined">
              {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
            </span>
          </button>
        </div>
      </div>

      <button
        type="submit"
        class="register-button"
        [class.disabled]="showLoading()"
      >
        <span *ngIf="!showLoading()">Cadastrar</span>
        <span
          *ngIf="showLoading()"
          class="material-symbols-outlined"
          id="loadingIcon"
        >
          progress_activity
        </span>
      </button>

      <span class="or-separator">OU</span>
      <div id="google-btn"></div>
    </form>

    <hr class="divider" />

    <div class="footer">
      <div class="madeBy" (click)="goToLinkedin()">
        <button>
          <ng-icon name="bootstrapLinkedin" title="LinkedIn" />
        </button>
      </div>

      <div class="madeBy" (click)="goToGithub()">
        <button>
          <ng-icon name="bootstrapGithub" title="GitHub" />
        </button>
      </div>

      <div class="information" (click)="createModalInfo()">
        <button>
          <span class="material-symbols-outlined"> info </span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-info-component></app-info-component>

<app-warning></app-warning>
