<div class="side-bar-overlay" [ngClass]="{'active': showSidebar()}">
  <div class="modalSidebarOverlay" *ngIf="activeModal() === 'info'">
    <div class="modalSidebar">
      <div class="modalContent">
        <div class="modalHeader">
          <span class="material-symbols-outlined"> info </span>
          <span class="close">
            <button type="button" (click)="closeModal()">
              <span class="material-symbols-outlined"> close </span>
            </button>
          </span>
        </div>
        <div class="info-content">
          <p class="info-title">Sobre o Mono</p>

          <p class="info-description">
            Mono é uma aplicação de chat alimentada por IA que oferece uma
            experiência conversacional rica e inteligente. O sistema integra
            dois modelos de IA, possui transcrição de áudio em tempo real,
            geração de resumos automáticos e um sistema robusto de gerenciamento
            de usuário, sistema voz personalizável, <i>text-to-speech</i> nas
            mensagens, e muito mais. O Mono é projetado para fornecer respostas
            rápidas e precisas, tornando a interação com a IA mais natural e
            eficiente.
          </p>

          <p class="info-title">Como funciona a IA?</p>

          <p class="info-description">
            Atualmente, o projeto contém duas IA's presentes,
            <code>gpt-oss-20b</code> e <code>qwen2.5:0.5b</code>. O
            <code>gpt-oss-20b</code> roda por meio de uma api disponibilizada
            pelo
            <a href="https://www.groq.com/cloud" target="_blank">Groq Cloud</a>,
            enquanto o <code>qwen2.5:0.5b</code> é executado
            <i>server-side</i> através do
            <a href="https://ollama.com/" target="_blank">Ollama</a>. Quer saber
            mais sobre essas IA's? Acesse os links abaixo:
          </p>

          <div class="info-links">
            <span>
              <img src="/img/groq-text.svg" alt="Groq Logo" />
              <a href="https://www.groq.com/cloud" target="_blank"
                >Clique aqui!</a
              >
            </span>

            <span>
              <img src="/img/ollama.svg" alt="Ollama Logo" />
              <a href="https://ollama.com/" target="_blank">Clique aqui!</a>
            </span>
          </div>

          <p class="info-title">Licenças</p>

          <p class="info-description">
            Uma das partes pricipais do Mono é a utilização de TSS
            (<i>text-to-speech</i>) para leitura das mensagens, e para isso
            usamos o
            <a href="https://github.com/OHF-Voice/piper1-gpl" target="_blank"
              >Pipper</a
            >, ferramenta 100% código livre e feita com Python. O
            <a href="https://github.com/OHF-Voice/piper1-gpl" target="_blank"
              >Pipper</a
            >
            é mantido pela
            <a href="https://www.openhomefoundation.org/" target="_blank"
              >Open Home Foundation</a
            >, fundação que desenvolve e mantém softwares de código aberto para
            casas inteligentes. Clique no abaixo para saber mais!
          </p>

          <div class="info-links">
            <span>
              Open home foundation:
              <a href="https://www.openhomefoundation.org/" target="_blank"
                >Clique aqui!</a
              >
            </span>

            <span>
             Repositório do Pipper:
              <a href="https://github.com/OHF-Voice/piper1-gpl?tab=GPL-3.0-1-ov-file" target="_blank"
                >Clique aqui!</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modalSidebarOverlay" *ngIf="activeModal() === 'perfil'">
    <div class="modalSidebar">
      <div class="modalContent">
        <div class="modalHeader">
          <span class="material-symbols-outlined"> person </span>
          <span class="close">
            <button type="button" (click)="closeModal()">
              <span class="material-symbols-outlined"> close </span>
            </button>
          </span>
        </div>

        <form (ngSubmit)="onSubmit(nameInput.value)" #userForm="ngForm">
          <div class="form-group">
            <label class="required" for="name">Nome:</label>

            <input
              #nameInput
              type="text"
              id="name"
              [(ngModel)]="userName"
              name="name"
              required
              [ngClass]="{'active': editName() }"
            />
          </div>

          <div class="form-flex">
            <div class="form-group">
              <label for="email">Email:</label>

              <input
                type="email"
                id="email"
                [(ngModel)]="userEmail"
                name="email"
              />
            </div>

            <div class="form-group">
              <label for="date">Data :</label>

              <input
                type="date"
                id="date"
                [(ngModel)]="userDate"
                name="date"
                required
              />
            </div>
          </div>

          <div class="form-buttons">
            <button class="cancel" type="button" (click)="closeModal()">
              Cancelar
            </button>

            <div class="form-buttons-save-edit">
              <button class="edit" type="button" (click)="startEditName()">
                Editar
              </button>
              <button
                class="save"
                type="submit"
                [ngClass]="{'active': editName() }"
              >
                <span
                  *ngIf="showLoading()"
                  class="material-symbols-outlined"
                  id="loadingIcon"
                >
                  progress_activity
                </span>
                <p *ngIf="!showLoading()">Salvar</p>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div div class="modalSidebarOverlay" *ngIf="activeModal() === 'settings'">
    <div class="modalSidebar">
      <div class="modalContent">
        <div class="modalHeader">
          <span class="material-symbols-outlined"> settings </span>
          <span class="close">
            <button type="button" (click)="closeModal()">
              <span class="material-symbols-outlined"> close </span>
            </button>
          </span>
        </div>

        <div class="settings-content">
          <p class="settings-title">Escolha a voz do Mono</p>
          <p class="settings-subtitle">
            Selecione a voz que deseja ouvir ao interagir, conversando, tirando
            dúvidas ou pedindo informações. A voz escolhida será aplicada em
            todas as interações e conversas com o Mono, proporcionando uma
            experiência personalizada e envolvente.
          </p>

          <div class="settings-options">
            <div
              class="voices"
              *ngFor="let voz of vozes , index as i"
              [ngClass]="{'disabled': showIconSound() !== null && showIconSound() !== i }"
            >
              <span class="circle"> </span>
              <p class="voice-title">{{ voz.title }}</p>
              <p class="voice-name">{{ voz.name }}</p>
              <input
                type="radio"
                name="voice"
                [value]="voz.name"
                [checked]="voz.name === 'Cadu'"
                (change)="changeVoice(voz.name, i)"
              />
              <span
                class="material-symbols-outlined"
                [ngClass]="{'active': showIconSound() === i}"
              >
                volume_up
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="sidebar"
    [ngClass]="{'show': showSidebar(), 'closing': sideBarExit() }"
  >
    <div class="sidebar-header">
      <span class="close">
        <button type="button" (click)="closeSidebar()">
          <span class="material-symbols-outlined">
            <span class="material-symbols-outlined"> arrow_forward_ios </span>
          </span>
        </button>
      </span>

      <div class="logoInfo">
        <img src="/img/mono.svg" alt="Logo" />
        <p>Mono</p>
      </div>
    </div>

    <div #nameAndSummaryInfo class="nameAndSummary">
      <span #captionInfo [ngClass]="{'marquee': isOverflowingInfo() }"
        >{{ summaryText() }}</span
      >
    </div>

    <div
      class="search-count"
      [ngClass]="{ 'active': selectedMessages().length > 0 }"
    >
      <span class="search-num"
        >Itens achados ({{ selectedMessages().length }})</span
      >
    </div>
    <div class="search-container" [ngClass]="{ 'active': isInitialized() }">
      <app-search-component
        (sideBarExitSignal)="sideBarExit.set($event)"
        (showSidebarSignal)="showSidebar.set($event)"
      ></app-search-component>
    </div>

    <span class="module" (click)="createModalPerfil()">
      <span class="material-symbols-outlined"> person </span>
      Perfil
    </span>
    <span class="module pass" (click)="createModalSettings()">
      <span class="material-symbols-outlined"> settings </span>
      Configurações
    </span>

    <span class="module pass" (click)="createModalInfo()">
      <span class="material-symbols-outlined"> info </span>
      Info
    </span>
  </div>
</div>

<app-warning></app-warning>
