$orange-primary: #f95903;
$white-primary: #fcfcfc;
$beige-primary: #e3dac3;
$disabled-color: #ccc;
$blue-primary: #071a45;
$grey-primary: #a8a5a5;

.side-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
}

.side-bar-overlay.close{
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}


.sidebar {
  width: 0px;
  height: 0px;
  background-color: $white-primary;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.sidebar.show {
  width: 250px;
  height: 100%;
  animation: slideRight 0.5s ease-in-out;
}

.sidebar.closing {
  animation: slideRightOut 0.5s ease-in-out;
}

.close button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.close button:hover {
  scale: 1.1;
}

.sidebar .module {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding: 15px 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid $grey-primary;
  border-bottom: 1px solid $grey-primary;
  user-select: none;
}

.sidebar .module.pass {
  border-top: none;
  border-bottom: 1px solid $grey-primary;
}

.sidebar .module:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.sidebar .nameAndSummary {
  background-color: $white-primary;
  font-size: 1em;
  display: none;
  width: fit-content;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 15px 10px;
  font-weight: 500;
  color: black;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  font-family: 'Arvo', serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar .nameAndSummary span {
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.sidebar .nameAndSummary span.marquee {
  animation: deslizarTexto 15s linear infinite;
}

.sidebar .nameAndSummary span:hover {
  transform: none;
}

.sidebar .search-container {
  display: none;
  width: 0px;
}

.modalSidebarOverlay {
  height: 100%;
  width: 100%;
}
.modalSidebar {
  background-color: $white-primary;
  color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  text-align: justify;
  text-indent: 10px;
  display: flex;
  flex-direction: column;
}

.modalSidebar span {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  text-indent: 0;
}

form .form-flex {
  display: flex;
  gap: 10px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
  box-sizing: border-box;
}

.form-group input {
  width: 100%;
  border: none;
  background-color: $disabled-color;
  border-radius: 8px;
  padding: 7px 10px;
  box-sizing: border-box;
  cursor: not-allowed;
  pointer-events: none;
}
.form-group input.active {
  border: 0.5px solid $grey-primary;
  background-color: transparent;
  cursor: text;
  pointer-events: auto;
}
.form-group label.required::after {
  content: ' *';
  color: $orange-primary;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

.sidebar-header .logoInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;
}

.logoInfo img {
  width: 45px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.sidebar .module {
  font-size: 1.07em;
}

.sidebar .module span {
  font-size: 1.4em;
}

.form-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.form-buttons-save-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-buttons button {
  color: #fcfcfc;
  border: none;
  width: 7em;
  height: 40px;
  border-radius: 10px;
  user-select: none;
  font-family: 'Arvo', serif;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
  flex-shrink: 0;
}

.form-buttons button.cancel {
  background-color: $disabled-color;
  color: #000000;
}

.form-buttons button.save {
  cursor: not-allowed;
  pointer-events: none;
}
.form-buttons button.save.active {
  background-color: $orange-primary;
  cursor: pointer !important;
  pointer-events: auto;
}

.form-buttons button.save p {
  margin: 0;
}

.form-buttons button.save #loadingIcon {
  justify-content: center;
  align-items: center;
  animation: rotate 1s linear infinite;
}
.form-buttons button.edit {
  background-color: $orange-primary;
  color: $white-primary;
}

@media screen and (max-width: 600px) {
  .sidebar.show {
    width: 100%;
  }

  .modalSidebarOverlay {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }
  .modalSidebar {
    font-size: 16px;
  }

  .sidebar .nameAndSummary {
    display: flex;
  }

  .sidebar .search-container {
    display: none;
  }

  .sidebar .search-container.active {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 15px;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 10px;
  }

  .sidebar-header .logoInfo {
    display: flex;
  }
  .modalHeader span {
    font-size: 1.7em;
  }
  .modalHeader span button {
    font-size: 0.63em;
  }

  .form-group {
    font-size: 1.1em;
  }

  .form-group input {
    font-size: 1em;
    flex-shrink: 0;
  }

  .form-flex {
    flex-direction: column;
  }

  .form-buttons {
    gap: 5px;
    overflow: hidden;
  }

  .form-buttons button {
    width: 5.5em;
  }
  .form-buttons-save-edit {
    gap: 5px;
    width: auto;
  }
}

@keyframes slideTopOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideRightOut {
  from {
    transform: translateX(2%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes deslizarTexto {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-105%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(40%);
    opacity: 1;
  }
  to {
    transform: translateX(2%);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
