<div class="modalInfo" *ngIf="showModal()">
  <div class="modalContent">
    <div class="modalHeader">
      <span class="material-symbols-outlined"> info </span>

      <button (click)="closeModal()">
        <span class="material-symbols-outlined"> close </span>
      </button>
      
    </div>

    <p>
      Mono é um chatbot de inteligência artificial para ajudar no dia a dia,
      desenvolvido com uma interface moderna e reativa em Angular e um backend
      moderno em Spring Boot. Utilizando o Spring AI para orquestração de dados
      e a infraestrutura da Groq para inferência ultrarrápida, o projeto entrega
      respostas fluidas e com baixíssima latência, unindo o poder do ecossistema
      Java à agilidade dos modelos de linguagem de última geração.
    </p>
  </div>
</div>
