<div class="back-container">
  <button class="back-button" (click)="goToLogin()">
    <span class="material-symbols-outlined"> arrow_back </span>
  </button>
</div>
<div
  class="forgot-body"
  (keydown.enter)="$event.preventDefault(); forgotPassword(emailInput.value)"
>
  <div class="logo-square-container">
    <div class="logo-square">
      <div class="logo-container">
        <img src="/img/mono.svg" alt="Logo" class="logo" />

        <div class="message-container">
          <p>Digite seu email para redefinir sua senha.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="forgot-container">
    <div class="icon">
      <span class="material-symbols-outlined"> question_mark </span>
    </div>
    <p class="welcome-message">Esqueceu sua senha?</p>

    <p class="forgot-instruction">
      Digite seu email para redefinir sua senha. No seu email, você receberá um
      link para criar uma nova senha.
    </p>
    <form (ngSubmit)="forgotPassword(emailInput.value)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" required #emailInput />
      </div>

      <span *ngIf="isButtonDisabled()" class="timer-text"
        >Aguarde {{ timeRemaining() }} segundos para enviar novamente.</span
      >

      <button
        type="submit"
        class="forgot-button"
        [ngClass]="{'disabled': isButtonDisabled()}"
        [class.disabled]="showLoading() || isButtonDisabled()"
      >
        <span *ngIf="!showLoading()">Redefinir</span>
        <span
          *ngIf="showLoading()"
          class="material-symbols-outlined"
          id="loadingIcon"
        >
          progress_activity
        </span>
      </button>
    </form>

    <hr class="divider" />

    <div class="footer">
      <div class="madeBy" (click)="goToLinkedin()">
        <button>
          <ng-icon name="bootstrapLinkedin" title="LinkedIn" />
        </button>
      </div>

      <div class="madeBy" (click)="goToGithub()">
        <button>
          <ng-icon name="bootstrapGithub" title="GitHub" />
        </button>
      </div>

      <div class="information" (click)="createModalInfo()">
        <button>
          <span class="material-symbols-outlined"> info </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modalInfo" *ngIf="showModal">
  <div class="modalContent">
    <span class="close" (click)="closeModalInfo()">&times;</span>
    <p>
      Mono é um chatbot de inteligência artificial para ajudar no dia a dia,
      desenvolvido com uma interface moderna e reativa em Angular e um backend
      moderno em Spring Boot. Utilizando o Spring AI para orquestração de dados
      e a infraestrutura da Groq para inferência ultrarrápida, o projeto entrega
      respostas fluidas e com baixíssima latência, unindo o poder do ecossistema
      Java à agilidade dos modelos de linguagem de última geração.
    </p>
  </div>
</div>

<app-warning></app-warning>
