
<div class="reset-body">
    <div class="logo-square-container">
        <div class="logo-square">
           <div class="logo-container">
                <img src="/img/mono.svg" alt="Logo" class="logo">

                <div class="message-container">
                    <p>Crie uma nova senha para sua conta.</p>
                </div>
               
            </div>
        </div>
    </div>
        <div class="reset-container">
            <div class="icon">
        
                <span class="material-symbols-outlined">
                    passkey
                </span>
            </div>
            <p class="welcome-message">Esqueceu sua senha?</p>
            
            <p class="reset-instruction">Crie uma nova senha para sua conta.</p>
            <form>

        
               <div class="form-group">
                <label for="password">Senha</label>
                <div class="password-container">
                    <input  [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" required #passwordInput>
                    <button type="button" (click)="togglePasswordVisibility()">
                        <span class="material-symbols-outlined">
                             {{ showPassword ? 'visibility_off' : 'visibility' }}
                        </span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar Senha</label>
                <div class="password-container">
                    <input  [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" required #confirmPasswordInput>
                    <button type="button" (click)="togglePasswordConfirmVisibility()">
                        <span class="material-symbols-outlined">
                             {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
                        </span>
                    </button>
                </div>
            </div>
                

            
                <button type="button" class="reset-button">
                    <span *ngIf="!showLoading()" (click)="resetPassword(passwordInput.value, confirmPasswordInput.value)">Criar</span>
                    <span *ngIf="showLoading()" class="material-symbols-outlined" id="loadingIcon">
                        progress_activity
                    </span>

                </button>
            </form>

            <hr class="divider">

            <div class="footer">
                <div class="madeBy" (click)="goToLinkedin()">
                    <button   >
                        <ng-icon name="bootstrapLinkedin" title="LinkedIn"/>
                    </button>
                </div>

                <div class="madeBy" (click)="goToGithub()">
                    <button>
                        <ng-icon name="bootstrapGithub" title="GitHub"/>
                    </button>
                </div>


                <div class="information" (click)="createModalInfo()">
                        <button>
                            <span class="material-symbols-outlined" >
                                info
                            </span>
                        </button>
                </div>
            </div>
                
        </div>
    
</div>

<div class="modalInfo" *ngIf="showModal">
    <div class="modalContent">
        <span class="close" (click)="closeModalInfo()">&times;</span>
        <p>Mono é um chatbot de inteligência artificial para ajudar no dia a dia, desenvolvido com uma interface moderna e reativa em Angular e um backend moderno em Spring Boot. Utilizando o Spring AI para orquestração de dados e a infraestrutura da Groq para inferência ultrarrápida, o projeto entrega respostas fluidas e com baixíssima latência, unindo o poder do ecossistema Java à agilidade dos modelos de linguagem de última geração.</p>
    </div>
</div>


<div class="modalError" *ngIf="showModalError()" [ngClass]="{'exit': isClosingModal() }">
    <span #modalError class="close" (click)="triggerCloseModalError()">&times;</span>
    <div class="modalContent">
        <p>{{ modalErrorText() }}</p>
    </div>
</div>


