$orange-primary: #f95903;
$white-primary: #fcfcfc;
$beige-primary: #e3dac3;
$disabled-color: #ccc;
$blue-primary: #071a45;
$grey-primary: #b8b7b7;

:host {
  width: 100%;
  height: calc(100dvh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.3s ease;
  scrollbar-color: $grey-primary transparent;
  padding: 5px 15px;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  width: 100%;
  height: 100dvh;
}

.logo-container .title {
  margin: 0;
  font-size: 1.2em;
}

.logo-container img {
  width: 150px;
  background-color: $white-primary;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: popUp 0.5s ease;
}

.logo-container .logo-container-cards {
  display: flex;
  width: 70%;
  height: auto;
  padding: 20px 30px;
  gap: 25px;
  text-align: center;
  overflow: hidden;
}
.logo-container .marquee-track {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  white-space: nowrap;
  animation: deslizarTexto 60s linear infinite;
}

.logo-container .logo-container-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
  gap: 10px;
  background-color: $white-primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 30px;
  user-select: none;
  font-size: 0.95em;
  transition: all 0.3s ease;
}
.logo-container .logo-container-info p {
  margin: 0;
}

.logo-container .logo-container-info .icon {
  background-color: $orange-primary;
  padding: 10px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 1px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  color: $white-primary;
}

.logo-container .logo-container-info .icon.orange {
  background-color: $orange-primary;
  border-radius: 10px;
}

.logo-container .logo-container-info .icon.blue {
  background-color: $blue-primary;
  border-radius: 50%;
}

.logo-container img:hover {
  scale: 1.1;
}

.message-container {
  display: flex;
  width: 100%;
  gap: 5px;
}
.message-container.container-bot {
  align-self: flex-start;
}

.message-container.container-user {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.message-container img {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $white-primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.message {
  display: flex;
  flex-direction: column;
  white-space: normal;
  width: fit-content;
  word-break: keep-all;
  height: auto;
  max-width: 50%;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 25px;
  color: $white-primary;
  font-size: 15px;
  font-weight: 500;
  background-image: url('/img/pngtree-vintage-crumpled-craft-package-wrapping-paper-texture-as-a-transparent-background-png-image_11989598.png');
  background-size: 1200px; /* ou contain */
  background-position: top right;
  background-repeat: repeat;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  position: relative;
}

.message.highlighted {
  filter: drop-shadow(0 0 2px #ffff00) drop-shadow(0 0 2px #ffff00);
}
.message::after {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0px;
  width: 35px; /* Largura da base superior */
  height: 35px; /* Altura da ponta */
  background-image: inherit;
  background-size: inherit;
  background-repeat: inherit;

  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.message.bot::after {
  left: -10px;
  background-color: $blue-primary;
  background-position: left 10px top 0px;
}
.message.user::after {
  right: -10px;
  left: auto;
  background-color: $orange-primary;
  background-position: right 10px top 0px;
}

.message .text {
  padding: 0;
  margin: 0;
  word-break: break-word;
  font-family: 'Arvo', serif;
}

::ng-deep .message .text h2 {
  font-size: 1em !important;
}

::ng-deep .message .text h3 {
  font-size: 0.9em !important;
}

.actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.actions .llm-type {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  font-style: italic;
}

.loading-indicator {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.loading-indicator .dot {
  width: 8px;
  height: 8px;
  background-color: $white-primary;
  border-radius: 50%;
  animation: typing 1s infinite ease-in-out both;
}

.loading-indicator .dot:nth-child(1) {
  animation-delay: 0s;
}

.loading-indicator .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  color: $white-primary;
  font-size: 18px;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease;
  user-select: none;
}
.actions button:hover {
  scale: 1.02;
}

.actions button span {
  font-size: 20px;
}
.actions button.disabled {
  color: $disabled-color;
  cursor: not-allowed;
  user-select: none;
}
.actions .actions-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

#stop {
  animation: pulse 1s infinite;
}

.bot .actions .actions-buttons {
  justify-content: flex-end;
}

.user .actions .actions-buttons {
  justify-content: flex-start;
}

.bot {
  background-color: $blue-primary;
  align-self: flex-start;
  justify-content: flex-start;
  background-position: top left;
  min-width: 140px;
}

.user {
  background-color: $orange-primary;
  align-self: flex-end !important;
  min-width: 170px;
}

.loading {
  opacity: 0.8;
  color: transparent;
  animation: pulseLoading 1s infinite;
  width: 60%;
  height: 5em;
  min-height: 9%;
}

.loading .actions {
  display: none;
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.button-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 90px;
  right: 10px;
  z-index: 999;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.modalWarningBody {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $white-primary !important;
  width: 350px;
  height: auto;
  padding: 15px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  animation: slideTopIn 0.5s ease-in-out forwards;
}
::ng-deep .modalWarningBody.exit,
::ng-deep .exit {
  animation: slideTopOut 0.5s ease-in-out forwards !important;
}
.modalWarningBody .modalContent {
  width: 100%;
}

.modalWarningBody .close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modalWarningBody .close:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  :host {
    height: calc(99dvh - 150px);
    padding: 5px 10px;
  }
  .message {
    max-width: 70%;
    margin-top: 30px;
    height: fit-content;
    font-size: 0.85em !important;
  }
  .message-container {
    gap: 2px;
  }
  .button-filter-container.active {
    width: fit-content;
    background-color: $white-primary;
    height: fit-content;
    border-radius: 30px;
    padding: 8px 10px;
    box-sizing: border-box;
  }

  .llm-type {
    font-size: 0.85em !important;
  }

  .loading {
    height: 4em;
  }
  .message-container img {
    width: 35px;
    height: 35px;
  }

  .modalWarningBody {
    width: 90%;
    right: 5%;
    top: 10px;
  }
  .logo-container-cards {
    width: 90% !important;
  }
  .logo-container-info {
    font-size: 1.03em;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTopIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTopOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulseLoading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes deslizarTexto {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes typing {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  40% {
    transform: translateY(-60%);
    opacity: 1;
  }
}
