$orange-primary: #f95903;
$white-primary: #fcfcfc;
$beige-primary: #e3dac3;
$disabled-color: #ccc;
$blue-primary: #071a45;
$grey-primary: #5a5959;

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
  background-color: $white-primary;
  min-height: 50px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

form select {
  width: 5em;
  font-size: 16px;
  border: none;
  font-family: 'Arvo', serif;
  cursor: pointer;
  background-color: transparent;
}

form select:focus {
  border: none;
}

form .send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: $orange-primary;
  color: $white-primary;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  user-select: none;
}
form .send-button:hover {
  border-radius: 50%;
}
form .send-button:hover span {
  animation: slideIn 0.4s ease-in;
  border-radius: 50%;
}
form .send-button:disabled {
  background-color: $disabled-color;
  cursor: not-allowed;
  pointer-events: none;
}

form .send-button #loadingIcon {
  animation: rotate 1s linear infinite;
}

form .microphone-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  user-select: none;
  transform: scale(1.1);
}
form .microphone-button:hover {
  border-radius: 50%;
  transform: scale(1.2);
}
form .microphone-button span.pulse {
  color: red;
  animation: pulse 1s infinite;
}

form .cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  user-select: none;
  transform: scale(1.1);
}
form .cancel-button:hover {
  border-radius: 50%;
  transform: scale(1.2);
}

form .cancel-button span {
  color: $grey-primary;
}

form .waveform-visualizer {
  flex: 1;
  width: 100%;
  height: 50px;
  background-color: transparent;
}

form .waveform-visualizer.invisible {
  display: none;
  width: 0;
  height: 0;
}
textarea {
  border-radius: 0px !important;
  width: 100%;
  border: none;
  resize: none;
  transition: all 0.3s ease;
  font-family: 'Arvo', serif;
  font-size: 16px;
  overflow: hidden;
  height: auto;
  max-height: 90px;
  overflow-y: auto;
  background-color: transparent;
  vertical-align: middle;
}

textarea.invisible {
  display: none;
  width: 0;
  height: 0;
}

textarea:focus {
  outline: none;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  textarea {
    width: 80%;
  }

  form select {
    display: none;
    flex-shrink: 0;
  }

  :host .send-button {
    bottom: -70px;
  }

  :host .microphone-button {
    bottom: -70px;
  }
}
@media screen and (min-width: 1900px) {
  :host .send-button {
    bottom: -85px;
  }

  :host .microphone-button {
    bottom: -85px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(70%);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
