<form (ngSubmit)="sendText()">
  <div #waveformContainer class="waveform-visualizer" [class.invisible]="!micIsON()"></div>
  <textarea
    #meuTextarea
    (input)="onInput(meuTextarea)"
    placeholder="Sobre o que é a sua dúvida?"
    (keydown.enter)="$event.preventDefault(); sendText()  
    "
    [class.invisible]="micIsON()"
  
  ></textarea>

  <select #providerSelect (change)="changeLlmType(providerSelect)">
    <option value="GROQ">Groq</option>
    <option value="OLLAMA">Ollama</option>
  </select>

  <button type="button" class="microphone-button" (click)="recordingMic()">
    <span class="material-symbols-outlined" *ngIf="!micIsON()" title="Gravar Áudio"> mic </span >
    <span
      class="material-symbols-outlined"
      id="listeningIcon"
      *ngIf="micIsON()"
      [class.pulse]="micIsON()"
      title="Parar gravação de Áudio"
    >
      stop_circle
    </span>
  </button>

  <button type="button" class="cancel-button" *ngIf="micIsON()" (click)="cancelRecording()" title="Cancelar gravação">
    <span class="material-symbols-outlined"> cancel </span>
  </button>

  <button type="submit" class="send-button" [disabled]="showLoading() || micIsON()">
    <span *ngIf="!showLoading()" class="material-symbols-outlined">
      chevron_right
    </span>

    <span
      *ngIf="showLoading()"
      class="material-symbols-outlined"
      id="loadingIcon"
    >
      progress_activity
    </span>
  </button>
</form>
