:host{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    background-color: #fcfcfc;
    min-height: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
   
    
}

:host select{
    width: 5em;
    font-size: 16px;
    border: none;
    font-family: 'Arvo', serif;
    cursor: pointer;
    background-color: transparent;
}

:host select:focus{
    border: none; 
}

:host .send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #F95903;
    color: #fcfcfc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
}
:host .send-button:hover{
    border-radius: 50%;
}
:host .send-button:hover span {
    animation: slideIn 0.4s ease-in;
    border-radius: 50%;
}
:host .send-button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

:host .send-button #loadingIcon {
    animation: rotate 1s linear infinite;
}


textarea{
    border-radius: 0px !important;
    width: 100%;
    border: none;
    resize: none;
    transition: all 0.3s ease;
    font-family: 'Arvo', serif;
    font-size: 16px;
    overflow: hidden;
    height: auto;
    max-height: 90px;
    overflow-y: auto;
    background-color: transparent;
}

textarea:focus{
    outline: none;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    textarea{
        width: 80%;
    }  

    :host .send-button{
    bottom: -70px;
}
}
@media screen and (min-width: 1900px) {
    :host .send-button{
    bottom: -85px;
}


    
}

@keyframes slideIn {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(70%);
        opacity: 1;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}