

<form (ngSubmit)="sendText()">
    <textarea #meuTextarea (input)="onInput(meuTextarea)" placeholder="Sobre o que é a sua dúvida?"  (keydown.enter)="$event.preventDefault(); sendText()"></textarea>

    <select #providerSelect  (change)="changeLlmType(providerSelect)">
            <option value="GROQ">Groq</option>
            <option value="OLLAMA">Ollama</option>
            
    </select>
    <button type="submit" class="send-button" [disabled]="showLoading()"> 
        <span *ngIf="!showLoading()" class="material-symbols-outlined">
        chevron_right
        </span>

        <span *ngIf="showLoading()" class="material-symbols-outlined" id="loadingIcon">
            progress_activity
        </span>
    </button>
</form>
