$white-primary: #fcfcfc;

.modalWarningBody {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $white-primary !important;
  width: 350px;
  height: auto;
  padding: 15px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  animation: slideTopIn 0.5s ease-in-out forwards;
  
}

::ng-deep .modalWarningBody.exit,
::ng-deep .exit {
  animation: slideTopOut 0.5s ease-in-out forwards !important;
}
.modalWarningBody .modalContent {
  width: 100%;
}

.modalWarningBody .close {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modalWarningBody .close:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .modalWarningBody {
    width: 90%;
    right: 5%;
    top: 10px;
  }
}
@keyframes slideTopOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slideTopIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
