<ng-container>
  <div class="header">
    <div class="left-container">
      <div class="back-header">
        <button (click)="goBack()">
          <span class="material-symbols-outlined"> arrow_back </span>
        </button>
      </div>
      <div class="madeBy">
        <button (click)="goTolinkedin()">
          <ng-icon name="bootstrapLinkedin" title="LinkedIn" />
        </button>

        <button (click)="goToGithub()">
          <ng-icon name="bootstrapGithub" title="GitHub" />
        </button>
      </div>

      <div class="logo" [ngClass]="{ 'active': isInitialized() }">
        <img src="/img/mono.svg" alt="Logo" />
        <p>Mono</p>
      </div>
    </div>

    <div class="right-container">
      <div class="llm-select">
        <select (change)="onLlmTypeChange($event)">
          <option value="GROQ">Groq</option>
          <option value="OLLAMA">Ollama</option>
        </select>
      </div>

      <div class="nameAndSummary" [ngClass]="{ 'skeletonLoading': IsShowSkeleton(), 'notInitialized': !isInitialized() } ">
        <span>{{ summaryText() }}</span>
      </div>

      <button (click)="openSidebar()">
        <span class="material-symbols-outlined"> menu </span>
      </button>
    </div>
  </div>
</ng-container>

<app-body-component
  [isInitialized]="isInitialized()"
  [chatHistory]="chatHistory()"
></app-body-component>
<app-input-component
  (textoChange)="isTypeSomething.set($event)"
  (textoValue)="textoValue.set($event)"
  (llmType)="llmType.set($event)"
></app-input-component>
<div class="side-bar-overlay" *ngIf="showSidebar()">
  <div class="modalInfo" *ngIf="showModal">
    <div class="modalContent">
      <span class="close" (click)="closeModalInfo()">&times;</span>
      <p>
        Mono é um chatbot de inteligência artificial para ajudar no dia a dia,
        desenvolvido com uma interface moderna e reativa em Angular e um backend
        robusto em Spring Boot
      </p>
      <p>
        Utilizando o Spring AI para orquestração de dados, o projeto adota uma
        arquitetura híbrida de modelos: consome a infraestrutura da Groq para
        inferência ultrarrápida em nuvem utilizando o <code>gpt-oss-20b</code>,
        e integra o <code>qwen2.5:0.5b</code> localmente através do Ollama. Essa
        combinação entrega respostas fluidas com baixíssima latência, unindo a
        robustez do ecossistema Java à agilidade dos modelos de linguagem de
        última geração.
      </p>
    </div>
  </div>
  <div class="sidebar" [ngClass]="{'show': showSidebar(), 'closing': sideBarExit() }">
    <span class="close">
      <button type="button" (click)="closeSidebar()">
        <span class="material-symbols-outlined"> arrow_back_ios_new </span>
      </button>
    </span>

    <span class="module">
      <span class="material-symbols-outlined" (click)="createModalInfo()">
        info
      </span>
      Info
    </span>
  </div>
</div>

<app-warning></app-warning>
