<ng-container>
  <div class="header">
    <div class="left-container">
      <div class="back-header">
        <button (click)="goBack()" title="Voltar">
          <span class="material-symbols-outlined"> arrow_back </span>
        </button>
      </div>
      <div class="madeBy">
        <button (click)="goTolinkedin()">
          <ng-icon name="bootstrapLinkedin" title="LinkedIn" />
        </button>

        <button (click)="goToGithub()">
          <ng-icon name="bootstrapGithub" title="GitHub" />
        </button>
      </div>

      <div class="logo" [ngClass]="{ 'active': isInitialized() }">
        <img src="/img/mono.svg" alt="Logo" />
        <p>Mono</p>
      </div>
    </div>

    <div class="right-container">
      <div class="llm-select">
        <select (change)="onLlmTypeChange($event)" [value]="llmType()">
          <option value="GROQ">Groq</option>
          <option value="OLLAMA">Ollama</option>
        </select>
      </div>

      <div
        #nameAndSummary
        class="nameAndSummary"
        [ngClass]="{ 'skeletonLoading': IsShowSkeleton(), 'notInitialized': !isInitialized() } "
      >
        <span #caption [ngClass]="{'marquee': isOverflowing() }"
          >{{ summaryText() }}</span
        >
      </div>

      <button (click)="abrirMenu()" title="Abrir menu">
        <span class="material-symbols-outlined"> menu </span>
      </button>
    </div>
  </div>
</ng-container>

<app-body-component
  [isInitialized]="isInitialized()"
  [chatHistory]="chatHistory()"
></app-body-component>
<app-input-component
  (textoChange)="isTypeSomething.set($event)"
  (textoValue)="textoValue.set($event)"
  (llmTypeChange)="llmType.set($event)"
  [llmType]="llmType() === 'ERROR' ? 'GROQ' : llmType()"
></app-input-component>


<app-warning></app-warning>

<app-menu></app-menu>
