$orange-primary: #f95903;
$white-primary: #fcfcfc;
$beige-primary: #e3dac3;
$disabled-color: #ccc;
$blue-primary: #071a45;
$grey-primary: #a8a5a5;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: slideLeft 0.5s ease-in-out;
  width: 100%;
  gap: 10px;
}

.left-container .logo {
  width: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: $white-primary;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
  transition: all 0.3s ease;
  user-select: none;
}
.left-container .logo.active {
  width: auto;
  font-size: 0.95em;
  padding: 10px 20px;
}

.left-container .logo img {
  width: 35px;
  height: auto;
}

.left-container .logo p {
  margin: 0;
}

.left-container .search {
  width: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-primary;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  user-select: none;
  overflow: hidden;
}

.left-container .search.active {
  width: fit-content;
  padding: 10px 20px;
}

.left-container .back-header {
  background-color: $white-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.left-container .back-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.left-container .back-header button span {
  transition: all 0.3s ease;
}

.left-container .back-header button span:hover {
  transform: scale(1.1);
}
@keyframes slideIn {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(70%);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(2%);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(40%);
    opacity: 1;
  }
  to {
    transform: translateX(2%);
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo-container {
  position: absolute;
  top: 10px;
  left: -50px;
  background-color: $white-primary;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideLeft 0.5s ease-in-out;
  transition: all 0.3s ease;
  z-index: 1;
}

.logo-container:hover {
  left: 0;
}

.logo-container img {
  width: 80px;
}

.back-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $white-primary;
}

.back-container button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.back-container button span {
  scale: 1.06;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: slideLeft 0.5s ease-in-out;
  width: 100%;
  gap: 10px;
}

.right-container button {
  background-color: $white-primary;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-shrink: 0;
}
.right-container span {
  transition: all 0.3s ease;
}

.right-container span:hover {
  transform: scale(1.1);
}

.right-container .llm-select {
  background-color: $white-primary;
  height: 40px;
  width: 90px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Arvo', serif;
  display: none;
}



.right-container .nameAndSummary {
  background-color: $white-primary;
  font-size: 0.95em;
  display: flex;
  width: fit-content;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-weight: 500;
  color: black;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  font-family: 'Arvo', serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.right-container .nameAndSummary.notInitialized {
  width: fit-content;
}

.right-container .nameAndSummary.skeletonLoading {
  width: 60%;
  animation: skeleton-loading 1.2s infinite alternate;
  transition: all 0.4s ease-in-out;
}

.right-container .nameAndSummary.skeletonLoading span {
  transition: none;
  font-size: 0;
}

.right-container .nameAndSummary span {
  display: inline-block;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.right-container .nameAndSummary span.marquee {
  animation: deslizarTexto 15s linear infinite;
}

.right-container .nameAndSummary span:hover {
  transform: none;
}

.madeBy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $white-primary;
  height: 40px;
  width: 90px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-shrink: 0;
}

.madeBy button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.madeBy ng-icon {
  width: 22px;
  height: 22px;
  transition: all 0.3s ease;
  user-select: none;
}

.madeBy ng-icon:hover {
  transform: scale(1.1);
}

.modalWarningPai {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $white-primary !important;
  width: 350px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  animation: slideTopIn 0.5s ease-in-out forwards;
}

.modalWarningPai.exitPai {
  animation: slideTopOut 0.5s ease-in-out forwards !important;
}

.modalWarningPai .close {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 10px;
  color: $white-primary;
}

@media screen and (max-width: 600px) {
  .header {
    gap: 5px;
    padding: 8px 15px;
  }
  .logo-container {
    width: 50%;
  }

  .back-container button span {
    scale: 1.2;
  }

  .left-container .back-header {
    width: 50px;
    height: 50px;
  }

  .left-container .logo {
    display: none;
  }

  .left-container .search {
    display: none;
  }
  

  .left-container .back-header span {
    scale: 1.2;
  }
  .modalErrorPai {
    width: 90%;
    left: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-container button {
    width: 50px;
    height: 50px;
    user-select: none;
  }

  .right-container button span {
    scale: 1.2;
  }

  .right-container .llm-select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
  }

  .right-container .nameAndSummary {
    display: none;
  }

  

  .madeBy {
    height: 50px;
    width: 110px;
  }

  .madeBy ng-icon {
    width: 25px;
    height: 25px;
  }
}

@keyframes slideTopIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTopOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideRightOut {
  from {
    transform: translateX(2%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: $white-primary;
  }
  100% {
    background-color: #dddcdc;
  }
}

@keyframes deslizarTexto {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-105%);
  }
}
