<ng-container *ngIf="isInitialized()">
    <div class="logo-container">
        <img src="/img/mono.svg" title="MONO" alt="MONO">
    </div>
</ng-container>

<app-body-component [isInitialized]="isInitialized()" [chatHistory]="chatHistory()"></app-body-component>
<app-input-component (textoChange)="isTypeSomething.set($event)" (textoValueChange)="textoValue.set($event)" (keyup.enter)="iniciar(buttonEnviar)"> </app-input-component>

<button #buttonEnviar class="send-button" (click)="iniciar(buttonEnviar)">
    <span *ngIf="!showLoading()" class="material-symbols-outlined">
     chevron_right
    </span>

    <span *ngIf="showLoading()" class="material-symbols-outlined" id="loadingIcon">
        progress_activity
    </span>
</button>

<div *ngIf="!isInitialized()" class="information">
    <button (click)="createModalInfo()">
        <span class="material-symbols-outlined" >
            info
        </span>
    </button>
</div>

<div *ngIf="!isInitialized()" class="madeBy">
    <button  (click)="goTolinkedin()" >
    <ng-icon name="bootstrapLinkedin" title="LinkedIn"/>
   </button>
   
   <button (click)="goToGithub()">
   <ng-icon name="bootstrapGithub" title="GitHub"/>
    </button>
  
</div>


<div class="modalInfo" *ngIf="showModal">
    <div class="modalContent">
        <span class="close" (click)="closeModalInfo()">&times;</span>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus omnis fugiat fuga eveniet. Quis, veritatis ullam! Odio in cum vero. Vitae architecto sequi assumenda ipsum commodi? Similique illum tempora voluptas.</p>
    </div>
</div>

<div class="modalErrorPai" *ngIf="showModalErrorPai()" [ngClass]="{'exitPai': isClosingModalPai() }">
    <span #modalErrorPai class="close" (click)="triggerCloseModalPai()">&times;</span>
    <div class="modalContent">
        <p>{{ modalErrorTextPai }}</p>
    </div>
</div>

<router-outlet />
