:host{
    position: relative;
}

@keyframes slideIn {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(70%);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 1;
    }
    to {
        transform: translateX(2%);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(40%);
        opacity: 1;
    }
    to {
        transform: translateX(2%);
        opacity: 1;
    }
}
.logo-container{
    position: absolute;
    top: 10px;
    left: -15px;
    background-color: #fcfcfc;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideLeft 0.5s ease-in-out;
}

.logo-container img{
    width: 80px;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.logo-container img:hover{
    animation: tilt 0.4s ease-in-out;
}
:host .send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 13px;
    right: 20px;
    box-sizing: border-box;
    background-color: #F95903;
    color: #fcfcfc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
:host .send-button:hover{
    border-radius: 50%;
}
:host .send-button:hover span {
    animation: slideIn 0.4s ease-in;
    border-radius: 50%;
}
.information{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #fcfcfc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: slideRight 0.5s ease-in-out;
}
.information span{
    transition: all 0.3s ease;
}

.information span:hover{
    transform: scale(1.1);
}

.madeBy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #fcfcfc;
    height: 40px;
    width: 90px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: slideLeft 0.5s ease-in-out;
}

.madeBy ng-icon{
    width: 22px;
    height: 22px;
    color: #071A45;
    transition: all 0.3s ease;
}

.madeBy ng-icon:hover{
    transform: scale(1.1);
}

.modalInfo{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fcfcfc;
    color: black;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modalInfo span{
    display: flex;
    justify-content: flex-end;

}

.modalInfo .close{
  cursor: pointer;
}


@media screen and (max-width: 600px) {
.logo-container{
       width: 35%;
}

 .information{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #fcfcfc;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.madeBy{
    height: 6%;
    width: 110px;
}

.madeBy ng-icon{
    width: 25px;
    height: 25px;
}

.modalInfo{
    top: 70px;
    right: 20px;  
}
}


