<ng-container *ngIf="isInitialized()">
    <div class="logo-container">
        <img src="/img/mono.svg" title="MONO" alt="MONO">
    </div>
</ng-container>

<app-body-component [isInitialized]="isInitialized()" [chatHistory]="chatHistory()"></app-body-component>
<app-input-component (textoChange)="isTypeSomething.set($event)" (textoValueChange)="textoValue.set($event)"></app-input-component>

<button class="send-button" (click)="iniciar()">
    <span class="material-symbols-outlined">
     chevron_right
    </span>
</button>

<div *ngIf="!isInitialized()" class="information">
    <span class="material-symbols-outlined" (click)="createModalInfo()">
        info
    </span>
</div>

<div *ngIf="!isInitialized()" class="madeBy">
   <ng-icon name="bootstrapLinkedin" title="LinkedIn" (click)="goTolinkedin()"/>
   <ng-icon name="bootstrapGithub" title="GitHub" (click)="goToGithub()"/>
  
</div>


<div class="modalInfo" *ngIf="showModal">
    <div class="modalContent">
        <span class="close" (click)="closeModalInfo()">&times;</span>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus omnis fugiat fuga eveniet. Quis, veritatis ullam! Odio in cum vero. Vitae architecto sequi assumenda ipsum commodi? Similique illum tempora voluptas.</p>
    </div>
</div>

<router-outlet />
