:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.information{
    background-color: #fcfcfc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: slideRight 0.5s ease-in-out;
    transition: all 0.3s ease;
}

.information:hover{
    transform: scale(1.1);
}

.information button{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information span{
    transition: all 0.3s ease;
}



.madeBy{
    background-color: #fcfcfc;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: slideRight 0.5s ease-in-out;
    transition: all 0.3s ease;
}

.madeBy:hover{
    transform: scale(1.1);
}

.madeBy button{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.madeBy ng-icon{
    width: 22px;
    height: 22px;
    transition: all 0.3s ease;
}

.forgot-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    
}
.logo-square-container{
    width: 50%;
    height: 100%;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-sizing: border-box;
}

.logo-square-container .logo-square{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3DAC3;
    background-image: 
    linear-gradient(to right, rgba(0,0,0,0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.2) 1px, transparent 1px);
    background-size: 20px 20px;
    border-radius: 25px;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.message-container{
    display: flex;
    flex-direction: column;
    white-space: normal;
    width: fit-content;
    word-break: keep-all;
    height: auto;
    max-width: 50%;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 25px;
    color: #fcfcfc;
    font-size: 15px;
    font-weight: 500;
    background-image: url(/img/pngtree-vintage-crumpled-craft-package-wrapping-paper-texture-as-a-transparent-background-png-image_11989598.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px #0000004d;
    background-color: #071A45;
    transition: all 0.3s ease;
}



.logo-container img{
  width: 150px;
  background-color: #fcfcfc;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: popUp 0.5s ease;
}


.forgot-container{
    width: 50%;
    height: 100%;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.forgot-container .welcome-message{
    font-size: 25px;
    margin-bottom: 15px;
    animation: slideRight 0.5s ease-in-out;
}

.forgot-container .divider{
    width: 50%;
    border: 0.5px solid #a8a5a5;
    margin: 20px 0;
}

.icon{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F95903;
    animation: slideRight 0.5s ease-in-out;
}

.icon span{
    font-size: 36px;
    
}

.forgot-container .forgot-instruction{
    font-size: 17px;
    margin-bottom: 30px;
    width: 60%;
    text-align: center;
    animation: slideRight 0.5s ease-in-out;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

form .forgot-button{
    background-color: #F95903;
    color: #fff;
    border: none;
    width: 14%;
    height: 40px;
    border-radius: 10px;
    font-family: 'Arvo', serif;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 500;
    animation: slideRight 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .forgot-button #loadingIcon{
   animation: rotate 1s linear infinite;
}

form .forgot-button:hover{
    transform: scale(1.07);
    cursor: pointer;
}

   
.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 94px;
    box-sizing: border-box;
}

.form-group input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border: 0.5px solid #a8a5a5;
    background-color: transparent;
    border-radius: 8px;
    padding:7px 10px;
}

.form-group label::after{
    content: " *";
    color: #F95903;
   
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.modalInfo{
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #fcfcfc;
    color: black;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modalInfo span{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.modalInfo .close{
  cursor: pointer;
}


.modalWarning{
  position: fixed;
  top: 20px;                 
  right: 20px;
  background-color: #fcfcfc !important;
  width: 350px;
  height: auto;
  padding: 15px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: slideTopIn 0.5s ease-in-out forwards;
}
::ng-deep .modalWarning.exit,
::ng-deep .exit {
   animation: slideTopOut 0.5s ease-in-out  forwards !important;
}
.modalWarning .modalContent{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}


.modalWarning .close{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modalWarning .close:hover{
    transform: scale(1.1);
}

.back-container{
    position: absolute;
    top: 20px;
    left: 25px;
}

.back-container button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: #fcfcfc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: _ngcontent-ng-c1048178766_slideRight 0.5s ease-in-out;
    transition: all 0.3s ease; 
}

@media screen and (max-width: 600px) {
    .forgot-container{
        width: 100%;
    
    }
    .logo-square-container{
        display: none;
    }

    .form-group{
    width: 100%;
    padding: 5px 26px;
    }

    .information{
    width: 60px;
    height: 60px;
    }

    .information button{
        scale: 1.3;
    }

    .madeBy{
        width: 60px;
        height: 60px;
    }


    .back-container button{
        width: 60px;
        height: 60px;
    }


    .back-container button span{
        scale: 1.1;
    
    }

    .madeBy ng-icon{
        width: 26px;
        height: 26px;
    }

    .modalInfo{
        width: 90%;
        top: 30px;
        right: 20px;  
    }

    .forgot-instruction{
        font-size: 12px;
        text-align: center;
    }

    form .forgot-button{
        scale: 1.1;
        width: 23%;
        height: 40px;
    }

    .modalError{           
        width: 90%;
        right: 5%;
        top: 10px;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(40%);
        opacity: 1;
    }
    to {
        transform: translateX(2%);
        opacity: 1;
    }
}

@keyframes slideTopIn {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideTopOut {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-100%); opacity: 0; }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
