:host {
  width: 100%;
  height: 88dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow:hidden;
  overflow-y: auto;
  scrollbar-color: #b8b7b7 transparent;
}

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  height: 100dvh;
  }

.logo-container img{
  width: 150px;
  background-color: #fcfcfc;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  animation: popUp 0.5s ease;
}


.logo-container p{
  width: 40%;
  height: 100px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #071A45;
  animation: fadeIn 1s ease;
  text-align: center;
}

.logo-container img:hover{
    scale: 1.1;
}
.message{
  min-width: 80px;
  white-space: normal;
  width: fit-content;
  word-break: break-all;

  height: auto;
  max-width: 50%;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 25px;
  color: #fcfcfc;;
  font-size: 15px;
  font-weight: 500;
  z-index: -10;
  background-image:url('/img/pngtree-vintage-crumpled-craft-package-wrapping-paper-texture-as-a-transparent-background-png-image_11989598.png');
  background-size: cover;      /* ou contain */
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.bot {
  background-color: #071A45;
  align-self: flex-start;
}
.user {
  background-color: #F95903;
  align-self: flex-end;
}
.loading {
  opacity: 0.8;
  color: transparent;
  animation: pulse 1s infinite;
  width: 60%;
  min-height: 9%;

}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 600px) {

  :host {
  gap: 5px;
}
  .message{
  max-width: 70%;
  margin-top: 30px;
  height: auto;
  padding: 10px 15px;
  font-weight: 300;
  font-size: 15px;
}
.logo-container p{
  width: 80%;
  height: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #071A45;
  animation: fadeIn 1s ease;
  text-align: center;
  
}


}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
 
}